html {
    margin: 0;
    padding: 0;
}

.row {
    height: calc(100% - 85px);
    margin: 0 !important;
}

header {
	background-color: #333;
}

header h1 {
    font-family: 'Revalia', cursive;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	color: white;
} 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}

li a {
    font-family: 'Revalia', cursive;
    font-size: 15px;
    color: white;
    padding: 5px;
    text-decoration: none !important;
}

a:hover {
    color: white !important;
}

input[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
}

#dateTime {
    font-family: 'Revalia', cursive;
    font-size: 30px;
    color: white;
}

#clockSettings {
    width: 12em;
}

#twitterSettings {
    width: 20em;
}

#twitterSettings[placeholder] {
    text-align: left;
}

#Settings {
    padding-top: 2em;
    text-align: center;
}

#noteBox {
    height: calc(100vh - 90px);
    border-left: 1px solid #ffaa9f;
    border-right: 1px solid #ffaa9f;
    border-bottom: 1px solid #ffaa9f;

    overflow-y: none;
    overflow-x: auto;
}

#notepad{
    font-family: 'Revalia', cursive;
    line-height: 50px;
    -webkit-background-size: 100% 50px;
    background-size: 100% 50px;
    background-image: -moz-linear-gradient(top , transparent, transparent 49px,#E7EFF8 0px);
    background-image: -webkit-linear-gradient(top , transparent, transparent 49px,#E7EFF8 0);
    overflow-y: none;
    overflow-x: auto;
    word-wrap: break-word;
    padding: 0 1em;
}

#locationBox {
    height: 25vh;
    font-family: 'Revalia', cursive;
    font-size: 20px;
    text-align: left;
}

#mapBox {
    height: calc(75vh - 90px);
}

#twitterBox{
    height: calc(100vh - 90px);
}