html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
	background-color: #333;
}

header h1 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	color: white;
} 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}

li a {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    color: white;
    padding: 5px;
    text-decoration: none !important;
}

input[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
}

#dateTime {
    font-family: 'Clicker Script', cursive;
    font-size: 40px;
    color: white;
}

#clockSettings {
    width: 12em;
}

#twitterSettings {
    width: 20em;
}

#twitterSettings[placeholder] {
    text-align: left;
}

#Settings {
    padding-top: 2em;
    text-align: center;
}